.popular {
    padding: 20px;
    background-color: #f9f9f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    font-size: 1.5rem;
}

.categoria.icon {
   margin-bottom: 10px;
   font-size: 2rem;
}

.grid {
    display: flex;
    gap: 20px;
}